@media (max-width:1520px){
        body { 
            position: relative;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
        .top-cantainer{
            width: 100vw;
            display: flex;
            flex-direction: column;
            position: relative;
           
        }

        .name{
            width: auto;
            margin-top: 0;   
        }

        .left-crane {
            display: none;
        }
    
        .right-crane {
            display: none;
        }

         #hook {
            display: flex;
            margin: auto;
            width: 150px;
            
            
            
        }
    }

    @media (max-width:920px) {
       body {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;

       }

       .top-cantainer {
        width: 100vw;
       }

       .skills {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       } 

       .frontend-img {
        margin: auto;
        width: 15rem;
       }

       .crane-img {
        width: 15rem;
       }

       .bottom-cantainer {
        width: 100vw;
       }
    }

    @media (max-width:450px) {

        .skill-row {
            margin: 2rem auto;
        }

        hr {
            margin: 2rem auto;
        }
    }
